@import 'variables';

.navbar {
  background-color: map-get($colors, black);

  .logo {
    height: 50px; 
    width: auto; 
    margin-right: 20px; 
    }
}

.navbar-dark .navbar-nav .nav-link {
  color: map-get($colors, white);
}