@media (max-width: 1570px) {
  section {
    padding: 80px 3%;
    @include transition(0.2s);
  }
}

@media (max-width: 768px) {
  .contact .row {
    flex-direction: column;
  }
}

@media (max-width: 1090px) {
  .contact {
    grid-gap: 2rem;
    @include transition(0.3s);
  }
}

@media (max-width: 1000px) {
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
    .navbar .logo {
        height: 40px; 
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
  .row {
    max-width: 90%;
    max-height: 85%; 
    font-size: 0.8rem; 
    line-height: 1.6; 
    margin: 15px auto;
    padding: 0 0.75rem;
    letter-spacing: 0.04em;    
  }
}

@media (max-width: 480px) {
  .row {
    max-width: 95%; 
    max-height: 85%;
    font-size: 0.5rem; 
    line-height: 1.7; 
    margin: 10px auto; 
    padding: 0 0.5rem;  
    letter-spacing: 0.03em;  
  }  
}

@media (max-width: 768px) {
  .image {
    height: 200px;
  } 
}

@media (max-width: 480px) {
  .image {
    height: 150px;
  }   
}

@media (max-width: 768px) {
  .img-fluid {
    display: none;
  }   
}

@media (max-width: 480px) {
  .img-fluid {
    display: none;
  }   
}
