@media (max-width: 1570px) {
  section {
    padding: 80px 3%;
    @include transition(0.2s);
  }
}

@media (max-width: 768px) {
  .contact .row {
    flex-direction: column;
  }
}

@media (max-width: 1090px) {
  .contact {
    grid-gap: 2rem;
    @include transition(0.3s);
  }
}

@media (max-width: 1000px) {
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
    .navbar .logo {
        height: 40px; 
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
  .biohacking-text .p-desc {
    width: 90%; 
    font-size: map-get($font-sizes, small); 
    line-height: 1.5; 
    margin: 15px auto; 
    transform: scale(0.5); 
    transition: transform 0.3s ease;
  }
}

@media (max-width: 480px) {
  .biohacking-text .p-desc {
    width: 100%; 
    font-size: map-get($font-sizes, x-small); 
    line-height: 1.4; 
    margin: 10px auto; 
    transform: scale(0.5); 
    transition: transform 0.3s ease;
  }  
}

@media (max-width: 768px) {
  .image {
    height: 200px;
  } 
}

@media (max-width: 480px) {
  .image {
    height: 150px;
  }   
}

@media (max-width: 768px) {
  .img-fluid {
    display: none;
  }   
}

@media (max-width: 480px) {
  .img-fluid {
    display: none;
  }   
}
